@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}


<main class="page">
    <section class="about-page">
        <article>
            <h2>Hello! We’re Simply Recipes</h2>
            <p>
                We have top-quality kosher recipes by your favorite chefs,
                interesting articles and helpful cooking tips, addictively delicious and entertaining cooking videos,
                and everything you'll need to make unforgettable meals.
            </p>
            <p>
                from the newest cook still trying to figure out how to make a boiled egg,
                all the way up to the gourmet chef looking for new and creative ideas to impress important guests.
            </p>
        </article>
        <!-- needs fixes -->
        <img src="~/assets/about.jpg"
             alt="Person Pouring Salt in Bowl"
             class="img about-img" />
    </section>
    <section class="featured-recipes">
        <h5 class="featured-title">Look At This Awesomesouce!</h5>
        <div class="recipes-list">
            @{
                int count = 0;
                @foreach (var item in Model)//Presentation of 3 most recommended recipes
                 {
                if(count<3)
                {
                 <a href="@Url.Action("SingleRecipe", "Recipes",new{id=item.Id}) " class="recipe">
                            <img src="@Url.Content(@item.ImageURL)" @*will display one of the pictures of the recipes*@
                     class="img recipe-img"
                     alt="" />
                    <h5> @Html.DisplayFor(modelItem => item.Description)</h5>
                    <p>Prep : @Html.DisplayFor(modelItem => item.TimeToMake) | Cook : @Html.DisplayFor(modelItem => item.CookingTime)</p>
                 </a>
                        count++;//Will not allow more than 3 methkonips to be presented in abouts
               }
                }

                }
            
            

            
        
        </div>
    </section>
</main>


