@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}


<main class="page">
    <section class="about-page">
        <article>
            <h2>Hello! We’re Simply Recipes</h2>
            <p>
                In this space, I am sharing fresh, flavorful,
                (mostly) healthy recipes that I love to make and eat in my real,
                actual, every day life. You will find in each of my kosher recipes the nutritional values ​​and depending on the weather or even holidays the recipes will be displayed accordingly.
                My goal is to inspire you with food that is both approachable AND exciting,
                whether you’re cooking for yourself, your family, your roommates,
                or your friends. I want you to be so excited about these recipes that you eagerly await 5pm when you can go home from work and start cooking.
            </p>
        </article>
        <!-- needs fixes -->
        <img src="~/assets/about.jpg"
             alt="Person Pouring Salt in Bowl"
             class="img about-img" />
    </section>
    <section class="featured-recipes">
        <h5 class="featured-title">Look At This Awesomesouce!</h5>
        <div class="recipes-list">
            @{
                int count = 0;
                @foreach (var item in Model)//Presentation of 3 most recommended recipes
                 {
                if(count<3)
                {
                 <a href="@Url.Action("SingleRecipe", "Recipes",new{id=item.Id}) " class="recipe">
                            <img src="@Url.Content(@item.ImageURL)" @*will display one of the pictures of the recipes*@
                     class="img recipe-img"
                     alt="" />
                    <h5> @Html.DisplayFor(modelItem => item.Name)</h5>
                    <p>Prep : @Html.DisplayFor(modelItem => item.TimeToMake) | Cook : @Html.DisplayFor(modelItem => item.CookingTime)</p>
                    <p>Rate : @Html.DisplayFor(modelItem => item.Rate) stars</p>
                 </a>
                        count++;//Will not allow more than 3 methkonips to be presented in abouts
               }
                }   
                }
            
            

            
        
        </div>
    </section>
</main>


