@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}

<h1>Index</h1>
<div>@ViewData["HolidayMessage"]</div>
<div>@ViewData["WeatherMessage"]</div>
<p>
    <a asp-action="Create">Add a new recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepInstructions)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageURL)" style="width:100px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit recipe</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Show recipe</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete recipe</a>
            </td>
        </tr>
}
    </tbody>
</table>
