@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}

<!-- main -->
<main class="page">
    <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container">
            <h4>Categories</h4>
            <div class="tags-list">
                @if(Model!=null)
                {
                    @for (int i = 0; i < 8; i++)
                    {
                        int size = @Model.Where(m => m.Tag == (Tags)i).Count();
                        if (size > 0)
                        {
                            Tags t = (Tags)i;
                            <a href="@Url.Action("TagTemplate", "Recipes",new{t=(Tags)i})">@t.ToString() </a>
                        }
                    }
                }
                
            </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
       <div class="recipes-list">
            <!-- single recipe -->
            @if(Model!=null)
            {
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("SingleRecipe", "Recipes" ,new {  id=item.Id }) " class="recipe">

                        <img src=" @Url.Content(@item.ImageURL)"
                     class="img recipe-img"
                     alt="" />
                        <h5> @Html.DisplayFor(modelItem => item.Description)</h5>
                        <p>Prep : @Html.DisplayFor(modelItem => item.TimeToMake) | Cook : @Html.DisplayFor(modelItem => item.CookingTime)</p>
                    </a>
                }
            }
    
        </div>
        
    </section>
</main>
<!-- end of main -->
