@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}

<!-- main -->
<main class="page">
    <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container">
            <h4>Categories</h4>
            <div class="tags-list">
                <a href="@Url.Action("TagTemplate", "Recipes") ">Bread Recipes </a>
                <a href="@Url.Action("TagTemplate", "Recipes") "> Every Day Cooking </a>
                <a href="@Url.Action("TagTemplate", "Recipes") "> Lunch Recipes </a>
                <a href="@Url.Action("TagTemplate", "Recipes") "> Dinner Recipes </a>
                <a href="@Url.Action("TagTemplate", "Recipes") "> Main Dishes</a>
                <a href="@Url.Action("TagTemplate", "Recipes") ">  Breakfast And Brunch</a>
                <a href="@Url.Action("TagTemplate", "Recipes") ">  Drinks</a>
                <a href="@Url.Action("TagTemplate", "Recipes") "> Appetizers And Snacks </a>
            </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
       <div class="recipes-list">
            <!-- single recipe -->
           @foreach (var item in Model)
           {
                <a href="@Url.Action("SingleRecipe", "Recipes" ,new {  id=item.Id }) " class="recipe">

                    <img src=" @Url.Content(@item.ImageURL)" 
                     class="img recipe-img"
                     alt="" />
                    <h5> @Html.DisplayFor(modelItem => item.Description)</h5>
                    <p>Prep : @Html.DisplayFor(modelItem => item.TimeToMake) | Cook : @Html.DisplayFor(modelItem => item.CookingTime)</p>
            </a>
           }
    
        </div>
        
    </section>
</main>
<!-- end of main -->
