
@{
    ViewData["Title"] = "Tags";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}

<main class="page">
    <section class="tags-wrapper">
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Breakfast</h5>
            <img src="~/assets/mealsCategory/brakefast.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>1 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Lunch</h5>
            <img src="~/assets/mealsCategory/Lanch.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>2 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Dinner </h5>
            <img src="~/assets/mealsCategory/dinner.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>3 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Dessert</h5>
     <img src="~/assets/mealsCategory/Desert.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>4 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Holiday And Seasonal Recipes</h5>
            <img src="~/assets/mealsCategory/Holiday And Seasonal Recipes.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>1 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>healthy food recipes</h5>
               <img src="~/assets/mealsCategory/HelthyFood.jpg"
                 class="img recipe-img"
                 alt="" />
            <p>1 recipe</p>
        </a>
        <!-- end of single tag -->
        <!-- single tag -->
        <a href="@Url.Action("TagTemplate", "Recipes")" class="tag">
            <h5>Recipes By Diet</h5>
               <img src="~/assets/mealsCategory/DiattetyFood.jpg"
                 class="img recipe-img"
                   alt="" />
            <p>1 recipe</p>
        </a>
        <!-- end of single tag -->
    </section>
</main>

