@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>

@{
    ViewData["Title"] = "Tags";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <style>
    .tags-wrapper {
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
    }
    .tag {
            background: mediumpurple;
    border-radius: var(--borderRadius);
    text-align: center;
    color:white ;
    transition: var(--transition);
    padding: 0.75rem 0;

    }
    .tag:hover {
                background: rebeccapurple;
    }
    .tag h5,
    .tag p {
    margin-bottom: 0;
    }
    .tag h5 {
    font-weight: 600;
    }
  
    </style>
</head>
<main class="page">
    <section class="tags-wrapper">
        @{
           @if (Model != null)
           {
            @for (int i = 0; i < 12; i++)
            {
                    int size = 0;
                    size = @Model.Where(m => m.Tag == (Tags)i).Count();

                if (size > 0)
                {
                    var recipe = @Model.FirstOrDefault(m => m.Id > 0&&m.Tag==(Tags)i);
                    Tags t = (Tags)i;
                    <a href="@Url.Action("TagTemplate", "Recipes",new{t=(Tags)i})" class="tag">
                        <h5>@t.ToString()</h5>
                        <img src="@Url.Content(@recipe.ImageURL)" 
                 class="img recipe-img"
                     alt="" />@*יציג את אחת התמונות של המתכונים*@
                        <p>@size.ToString() Recipes</p>@* כמות המתכונים שיש בכל קטגוריה*@
                    </a>
                }
            }
        }
        }
        <!-- end of single tag -->
    </section>
</main>

