@model IEnumerable<RecipesSystem.AppServer.Models.Recipe>

@{
    ViewData["Title"] = "TagTemplate";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<main class="page">
    <div class="featured-recipes">
        @{

            var r = Model.First(m => m.Id > 0);
                     
        }
        <h4>@r.Tag.ToString()</h4>
        <!-- recipes list -->
        <div class="recipes-list">
            <!-- single recipe -->
            @foreach (var item in Model)
            {
                <a href="@Url.Action("SingleRecipe", "Recipes" ,new {  id=item.Id }) " class="recipe">

                    <img src=" @Url.Content(@item.ImageURL)"
                     class="img recipe-img"
                     alt="">
                    <h5> @Html.DisplayFor(modelItem => item.Description)</h5>
                    <p>Prep : @Html.DisplayFor(modelItem => item.TimeToMake) | Cook : @Html.DisplayFor(modelItem => item.CookingTime)</p>
                </a>
            }

        </div>
        <!-- end of recipe list -->
    </div>

</main>

