<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipesSystem.AppServer.styles.css" asp-append-version="true" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- font-awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body>
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header">
                <a href="@Url.Action("Index", "Recipes") " class="nav-logo">
                    <img src="~/assets/logo.svg" alt="simply recipes" />
                </a>
                <button class="nav-btn btn">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
            <div class="nav-links">
                <a href="@Url.Action("Index", "Recipes") " class="nav-link"> Home </a>
                <a href="@Url.Action("About", "Recipes") " class="nav-link"> about </a>
                <a href="@Url.Action("Tags", "Recipes") " class="nav-link"> tags </a>
                <a href="@Url.Action("Recipes", "Recipes") " class="nav-link"> recipes </a>
                <a href="@Url.Action("Create", "Recipes") " class="nav-link"> Add new recipe </a>

            </div>
        </div>
    </nav>
    <header>
     <nav class="navbar navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
           
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
