@model IEnumerable<RecipesSystem.AppServer.Models.NewRecipe>
@{
    ViewData["Title"] = "Home Page";
}



<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model!=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrepInstructions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyWord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MakingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CookingTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>

